
/* Set the base font size and line height */
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  }
  
  /* Calculate the modular scale based on the base font size */
  h1 {
    font-size: calc(1rem * 3);
    margin-bottom: calc(1rem * 0.5);
    text-align: center;
  }
  
  
  p {
    font-size: 1rem; 
    margin-bottom: calc(1rem * 1); 
    text-align: center;
    padding-top: calc(2rem * 0.5);
    padding-bottom: calc(2rem * 0.5);
    
    
  }
  
  /* Set the baseline grid based on the line height */
  body {
    display: grid;
    
    grid-template-rows: repeat(auto-fill, calc(1em * 1.5)); 
    grid-gap: 0;
    background-color: rgb(140, 140, 140);
    padding-top: calc(2rem * 0.5);
    padding-bottom: calc(2rem * 0.5);
    
  }
  
  /* Add padding to the top and bottom of each grid cell */
  body > * {
    padding-top: calc(1rem * 0.5); 
    padding-bottom: calc(1rem * 0.5);
  }
/* Apply styles for all screen sizes */
form {
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(203, 203, 203, 0.206);
    position: relative;
   
  }
  
  input[type="age-verification"]{
  size-adjust: auto;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
  input[type="email"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
  }
  
  input[type="input-age-verification"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    border-radius: 0.25rem;
    background-color: hsl(210, 1%, 57%);
    color: #fff9f9;
    
  }
  input#submit:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 767px) {
  form {
    max-width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="submit"],
  textarea {
    font-size: 0.875rem; /* 14px */
  } 